/* Estilos para distribuidores */

.distribuidores__articulo {
  border: 1px solid;
  background-color: rgba(122, 122, 121, 0.15);
  border-radius: 20px;
  width: 45rem;
  @include padmargin(15px, 15px);
}

.distribuidores__articulo h2 {
  font-size: 30px;
  line-height: 1.5;
  padding: 10px 0px 10px 0px;
}

.distribuidores__articulo p {
  font-size: 16px;
  text-align: justify;
  padding: 10px 0px 10px 0px;
  line-height: 1.5;
}

/* Estilos para Soporte */

.soporte__articulo {
  border: 1px solid;
  background-color: rgba(122, 122, 121, 0.15);
  border-radius: 20px;
  width: 60rem;
  @include padmargin(1rem, 1rem);
}

.soporte__articulo ol,
p {
  @include padmargin(10px, 10px);
}
