/* Estilos de Footer */

footer {
  margin-top: auto;
  color: map-get($estilos, color-principal);
  background-color: #24252a;
  display: flex;
  justify-content: space-between;
  padding: 10px 10%;
}

footer p {
  padding: 10px 2%;
}

.footer__logos-redes {
  @include sizes(150px, 50px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
