/* Estilos de Barra de Navegación y Header */

header {
  animation: transitionIn 1s;
}

.btn-info {
  color: black;
  border-radius: 40px;
  background-color: rgba(0, 136, 169, 1);
}

#button-parent-container {
  .navbar-nav li {
    display: inline-block;
    padding: 0px 0.5rem;
  }

  .navbar-nav {
    transition: all 0.3s ease 0s;
  }

  .nav-link:hover {
    color: map-get($estilos, color-seleccion);
  }
}

.navbar-brand img {
  cursor: pointer;
  width: 50%;
  padding: 5px;
  transition: all 0.3s ease 0s;
}

.navbar-brand:hover {
  cursor: pointer;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(104, 104, 104, 0.884));
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
