$estilos: (
  color-principal: #edf0f1,
  color-secundario: lightgrey,
  color-seleccion: #0088a9,
  color-texto: #191919,
  fontPrimary: "Montserrat",
);

@mixin sizes($width, $height) {
  width: $width;
  height: $height;
}

@mixin padmargin($pad, $margin) {
  padding: $pad;
  margin: $margin;
}
